<h2>Shake-It-Speare</h2>

<h3>
  Did Shakespeare write every Shakespeare work ever?
</h3>

<h3>
  NOT ANYMORE!
</h3>

<p>
  ShakeItSpeare uses a Markov Model of Shakespeare's entire body of work to write.
</p>

<table class='demo-examples'>
  <thead>
    <tr>
      <th>
        Description
      </th>
      <th>
        Method
      </th>
      <th>
        Path
      </th>
      <th>
        Format
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Sentence
      </td>
      <td>
        GET
      </td>
      <td>
        http://ShakeItSpeare.com/api/sentence
      </td>
      <td>
        JSON
      </td>
    </tr>
    <tr>
      <td>
        Poem
      </td>
      <td>
        GET
      </td>
      <td>
        http://ShakeItSpeare.com/api/poem
      </td>
      <td>
        JSON
      </td>
    </tr>
  </tbody>
</table>
