<div style="background-color:pink">

  <h1 style="text-align:center">
  404
  </h1>

  <h3 style="text-align:center">
    To be... or 404...
  </h3>
  <h3 style="text-align:center">
    that is the question
  </h3>

</div>
